@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banking System</h1>
    <p class="lead">This is a Banking system. You can do all the things a bank can do for you !!!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explore Our Products</h2>
        <p>
            We help you reach your financial goals with the banking solutions form our Banking System. We also provide investments services.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Account</h2>
        <p>We will help you choose the best possible options for you. We have all kinds of accounts for different types of people</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Open Account &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p>You can easily apply for all kinds of cards and services. We provide a wide range of credit and Debit cards for all kinds of needs.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Apply &raquo;</a></p>
    </div>
</div>